html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

/*HEADER AND NAV*/
.site-header {
    background: #4B9CD3;
    height: 15%;
    font-family: raleway, sans-serif;
    color: white;
    display: flex;
    justify-content: space-between;
}

.site-header img {
    width: 30%;
    margin: 3%;
}

.navbar{
    margin-left: 2%;
}

#nav-content a {
    font-weight: bold;
    color: #13294B;
    font-size: 1.3rem;
}

#nav-content a:hover {
    color: white;
}

.navbar-toggler{
    background: #13294B
}


/*ROSTER PAGE*/
.site-header a {
    color: white;
}

.site-header a:hover {
    text-decoration: none;
}

body{
    color: #13294B;
}

h2{
    font-weight: bold;
}

h3{
    font-weight: bold;
}

.coach2 img {
    border-radius: 50%;
    width: 50%;
}

.officers img{
    width: 50%;
    border-radius: 50%;
}
.members img {
    border-radius: 50%;
    width: 50%;
}

.age{
    margin-top: 0;
}

.name{
    margin-bottom: 1%;
}



/*FOOTER*/
.page-footer {
    height: max-content;
    background: #4B9CD3;
    margin-top: 4%;
    padding-top: 2%;
}

.page-footer h4 {
    font-weight: bold;
}

i {
    margin: 5%
}