html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

* {
    font-family: raleway, sans-serif;
}



/*HEADER AND NAV*/
.site-header {
    background: #4B9CD3;
    height: 15%;
    font-family: raleway, sans-serif;
    color: white;
    display: flex;
    justify-content: space-between;
}

.site-header img {
    width: 30%;
    margin: 3%;
}

.navbar{
    margin-left: 2%;
}

#nav-content a {
    font-weight: bold;
    color: #13294B;
    font-size: 1.3rem;
}

#nav-content a:hover {
    color: white;
}

.navbar-toggler{
    background: #00A5AD
}

/* WORKOUT AND MEETINGS "CARD"*/
.meetings {
    background: #00A5AD;
    margin-top: 5%;
    border-radius: 5px;
}

.meetings h3 {
    margin-bottom: 5%;
    font-weight: bold;
}

.meetings h5 {
    margin-bottom: .5%;
}

.workouts {
    margin-bottom: 4%;
}

.date{
    text-decoration: underline;
}

.wkot-title {
    display: flex;
    justify-content: space-between;
}

.wkot-content {
    display: flex;
    justify-content: space-between;
}

.wkot-content p {
    margin-right: 5%;
}

.wkot-content button {
    font-size: smaller;
    background-color: #13294B;
    color: white;
}

.wkot-content button:hover {
    background: #4B9CD3;
    color: #13294B;
    font-weight: bold;
}

/*CENTER INFORMATION CARD*/
.about {
    margin-top: 3%;
    width: 100%;
    overflow: scroll;
}

.about p {
    background-color: #4B9CD3e1;
    width: fit-content;
    padding: 1%;
    font-weight: bold;
}

.about h2 {
    background-color: #4B9CD3e1;
    width: fit-content;
    padding: 1%;
    font-weight: bold;
}

.about button {
    background: #13294B;
    color: white;
}

.about button:hover {
    background: #4B9CD3;
    color: #13294B;
    font-weight: bold;
}

/*CAROUSEL*/
.carousel-inner{
    margin-top: 5%;
    width: 100%;
}


/*NEWS CARD*/
.news {
    background: #00A5AD;
    margin-top: 5%;
    border-radius: 5px;
}

.news h3 {
    font-weight: bold;
}

.news h5 {
    background: #13294B;
    color: white;
    margin: 2%;
    padding: 2%;
    border-radius: 5px;
}

.news img {
    width: 100%;
    margin-top: 3%;
    margin-bottom: 5%;
}

/*FOOTER*/
.page-footer {
    height: max-content;
    background: #4B9CD3;
    margin-top: 4%;
    padding-top: 2%;
}

.page-footer h4 {
    font-weight: bold;
}

i {
    margin: 5%
}